<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="denisbuketa.android.rstone.signup.edittext">

    <application>
        <activity android:name="denisbuketa.android.rstone.signup.edittext.RStoneSignUpEditTextActivity"></activity>
    </application>

</manifest>