<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="denisbuketa.android.recyclerview">

    <application>
        <activity android:name=".simplerecyclerview.RecyclerViewListActivity"/>
        <activity android:name=".reorderrecyclerview.ReorderRecyclerViewActivity"/>
    </application>

</manifest>